@charset "utf-8";

ul, body {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }
 /* This removed the bullets and the margins and padding from the nav. list*/

 li {
     float: left;
 /* float allows block elements to slide next to each other */
     font-family: Verdana;
/* This defines the font in the navagation bar*/
    font-weight:bold;
/*this cahnges the hight of the text */
    height:3.2em;
/*this changes the width of the text */
    list-style:none;

    width:760px;

    margin:0 auto;

    display: inline;
/* this should make the text in the nav. bar horizontal */ 
}

 ul li{
 	padding: 10px;
 }

a {
    display: block;
/* block - makes the whole link area clickable ( and not just the text) */
    width: 60px;
/* block also allowed for the width of the links to be specificed to 60px */
}

a:hover, a:active {
    background-color: rgb(255, 255, 255);
    color: black;
}

#header {
          background:blue;
/* "blue" is the color of the navagation bar */
	        margin:0 0 30px;
}

#nav {
      height:3.2em;
		  width:760px;
		  margin:0 auto;
		  list-style:none;
}

h1, p {
	    margin-right: 340px;
      margin-left: 340px;
	    margin-top: 25px;
	    margin-bottom: 25px;
	    font-family:Verdana;
}

p {
	line-height: 200%;
	/* the previous creates the height of the lines */
	letter-spacing: 0px;
	/*  the previous creates the spacing between the letters */
	word-spacing: 3px;
	/*  the previous creates the spacing between the words */
	}

#About{
	color: black;
}

	/* CSS Document */
