ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }
 /* This removed the bullets and the margins and padding from the nav. list*/

 li {
     float: left;
 }
 /* float allows block elements to slide next to each other */

a {
     display: block;
     width: 60px;
 }
/* block - makes the whole link area clickable ( and not just the text) */
/* block also allowed for the width of the links to be specificed to 60px */
