@charset "utf-8";

ul, body {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }
 /* This removed the bullets and the margins and padding from the nav. list*/

 li {
     float: left;
 /* float allows block elements to slide next to each other */
     font-family: Verdana;
/* This defines the font in the navagation bar*/
    height:4em;
/*this changes the width of the text */
    list-style:none;

    width:760px;

    margin:0 auto;

    display: inline;
/* this should make the text in the nav. bar horizontal */
}

 ul li{
 	padding: 10px;
 }

a {
    display: block;
/* block - makes the whole link area clickable ( and not just the text) */
    width: 60px;
/* block also allowed for the width of the links to be specificed to 60px */
    color: rgb(44, 39, 46);
/* This is the color of the text that isn't hovered over or clicked */
    text-decoration: none;
/* This removed the underline on all of the items in the nav. bar */
}

a:hover, a:active {
  color: rgb(130, 220, 39);
    text-decoration: overline;
}

#header {
          background:rgb(233, 233, 233);
/* "blue" is the color of the navagation bar */
	        margin:0 0 30px;
}

#nav {
      height:3.2em;
		  width:760px;
		  margin:0 auto;
		  list-style:none;
}

h1, p {
	    margin-right: 340px;
      margin-left: 340px;
	    margin-top: 25px;
	    margin-bottom: 25px;
	    font-family:Verdana;
}

p {
	line-height: 200%;
	/* the previous creates the height of the lines */
	letter-spacing: 0px;
	/*  the previous creates the spacing between the letters */
	word-spacing: 3px;
	/*  the previous creates the spacing between the words */
	}

#Blog{
	color: green;
   text-decoration: overline;
}

	/* CSS Document */
