body, nav {
  margin: 0;
  padding: 0;
}

nav {
  /* This moves all of the nav buttons to the right */
  float: right;
  /* This removed the bullets from the nav list */
  list-style-type: none;
}

 nav div {
   display: inline-block;
   /* This defines the font in the navigation bar*/
   font-family: Verdana;
   list-style: none;
   margin: 0 auto;
   padding-right: 100px;
}

a {
  /* block - makes the whole link area clickable (and not just the text) */
  display: block;
  /* This is the color of the text that isn't hovered over or clicked */
  color: rgb(47, 39, 32);
  /* This removed the underline on all of the items in the nav. bar */
  text-decoration: none;
}

a:hover, a:active {
  color: rgb(166,199,5);
  text-decoration: overline;
}

#header {
  background: white;
  /* grey is the color of the navigation bar */
  margin: 0 0 30px;
}

#header img {
  /* This floats the logo image to the left */
  float: left;
}

p {
  margin-right: 340px;
  margin-left: 340px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family:Verdana;
  /* creates the height of the lines */
  line-height: 200%;
  /* creates the spacing between the letters */
  letter-spacing: 0px;
  /* creates the spacing between the words */
  word-spacing: 3px;
  size: 50px;
}

p.oblique {
  font-style: oblique;
}

.active {
  color: rgb(32,158,85);
  text-decoration: overline;
}
